@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");

.align-center {
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
}

h3 {
	font-size: 31px;
	margin-top: 8px;
}
body {
	background-color: rgba(255, 255, 255, 0.733);
}

a {
	text-decoration: none;
	color: black;
	background-color: rgb(255, 255, 255);
}

* {
	margin: 0;
	padding: 0;
	font-family: Rubik, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
		sans-serif;
}

header {
	justify-content: space-between !important;
	background-color: white;
	font-size: 20px;
}

#paraphraser {
	padding-left: 25px;
	padding-bottom: 15px;
	padding-top: 10px;
}

#nav-items {
	justify-content: space-between !important;
	width: 60pc;
	padding-top: 5px;
	padding-right: 10px;
}

#nav-items a {
	padding-top: 10px;
	padding-bottom: 10px;
	width: 150px;
	text-align: center;
}
a:hover {
	background-color: #4caf50;
	color: white;
}
.active{
	background-color: #4caf50;
	color: white;
}
.codeblock * {
	width: 50%;
	min-height: 80vh;
	font-size: 20px;
	font-family: "Source Code Pro", system-ui, -apple-system, BlinkMacSystemFont,
		"Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
		"Helvetica Neue", sans-serif;
	padding: 5px;
	overflow: auto;
}
button {
	background-color: #5edb62;
	border: none;
	color: rgb(0, 0, 0);
	padding: 11px 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	cursor: pointer;
	border-radius: 50%;
	position: fixed;
	right: 17px;
	top: 90px;
}
button:hover {
	background-color: #51b854;
	box-shadow: 0 12px 16px 0 rgb(0 0 0 / 10%), 5px -8px 20px 0 rgb(0 0 0 / 7%);
}
.textarea {
	margin: 10px;
}
#play-btn {
	width: 30px;
}
