<!DOCTYPE html>
<html lang="en">
	{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %}{% endblock title %} ParaPhraser</title>
	<link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    <header class="align-center">
		<span id="paraphraser">ParaPhraser</span>
		<span id="nav-items" class="align-center">
			<a href="/python">Python</a>
			<a href="/cpp">C++</a>
			<a href="/java">Java</a>
		</span>
	</header>
	<main>
		<form method="post">
			{% csrf_token %}
			<div>
				<button type="submit">Compile</button>
			</div>
			<div class="align-center codeblock">
				<textarea name="code" id="codearea" class="textarea">{{ code }}</textarea>
				
				<textarea name="output" id="outputarea" class="textarea" disabled>{{ output }}</textarea>
			</div>
		</form>
	</main>
	<script src="{% static 'js/base.js' %}"></script>
</body>
</html>
